@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Handjet:wght@100;300;400&family=Nunito+Sans:opsz@6..12&family=Roboto&family=Roboto+Slab:wght@500&display=swap');
body{
    background-color: black;
}
#bgimg{
    position: absolute;
    padding-right: 50px;
    padding-bottom: 200px;
    height: 900px;
    width: 1500px;
}
#netimg{
    position: relative;
    height: 50px;
    padding-left: 0px;
}
#Start{
    position: absolute;
    list-style: none;
    padding-left: 300px;
    padding-bottom: 100px;
}
#Shows{
    position: absolute;
    list-style: none;
    padding-left: 350px;
}#Movies{
    position: absolute;
    list-style: none;
    padding-left: 410px;
}
#My{
    position: absolute;
    list-style: none;
    padding-left: 470px;
}
#Search{
    position: absolute;
    padding-left: 1000px;
    padding-top: 10px;
}
#Gift{
    position: absolute;
    padding-left: 1050px;
    padding-top: 10px;
}
#bell{
    position: absolute;
    padding-left: 1100px;
    padding-top: 10px;
}